<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Pessoas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sexo</th>
          <th>E-mail</th>
          <th>Data de Nascimento</th>
          <th>Naturalidade</th>
          <th>Nacionalidade</th>
          <th>CPF</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas | async">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.sexo}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.dtNascimento}}</td>
          <td>{{pessoa.naturalidade}}</td>
          <td>{{pessoa.nacionalidade}}</td>
          <td>{{pessoa.CPF}}</td>
          <td>
            <button (click)="deletePessoa(pessoa.id)" class="btn btn-danger">Delete</button>
            <button (click)="updatePessoa(pessoa.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

